.flex_container{
    width: 100%;
    height: 600px;
    border: 2px solid navy;
    display: flex;
    /* display: flex : Initialize a flex box/container */
    /* Flex properties to be applied on flex box/container */
    
    /* flex-direction: row;Default valueAll flex item will get stacked in one row */
    /* flex-direction: column;All flex item will get stacked in one column */
    /* flex-direction: row-reverse;
    flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* Shorthand version: direction wrap */
    /* flex-flow: row-reverse wrap wrap-reverse; */
    
    /* justify-content: center; */
    /* justify-content: space-between; /* equal spaces between flex item with no starting and ending space */
    /* justify-content: space-around;/* equal spaces around each flex item */
    /* justify-content: space-evenly;equal spaces between flex starting and ending space */
    
    /* align-items: center;Align item vertically center */
    /* align-items: flex-end; */
    /* align-items: flex-start; Default */
    /* align-items: stretch;Allows equal space verticle space between flex items */
}

.flexitem{
    /* Flex properties to be applied on flex item */
    border: 2px solid orange;
    background-color: aqua;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

#flexitem-1{
    /* Flex properties to be applied on flex ID */
    /* Higher the order later it appears in the list of the flex items */
    /* order: 2; */
    /* flex-grow: 3;occupies spaces bigger than other flex items when the screen size is increased */
    /* flex-shrink: 3;occupies spaces lesser than other flex items when the screen size is decreased */
}

#flexitem-2{
    /*In flex direction row flex-basis controls the width of a flex item */
    /*In flex direction column flex-basis controls the height of a flex item */
    flex-basis: 250px;
    align-self: flex-end;
}

#flexitem-3{
    /* flex-basis: 300px;*/
    /* Shorthand version: grow shrink basis */
    /* flex: 3 3 300px; */
    align-self: flex-start;
    align-self: flex-end;
    align-self: center;
}